<%= include_gon %>

<div id="map-canvas"></div>
<div class="container-fluid" id="main">
  <div class="row">
    <div class="col-xs-4" id="left">
      
      <h2>Clinic Locations</h2>
      <% @clinics.each do |clinic| %>

      <!-- item list -->
      <div class="panel-group map-group">
        <div class="panel panel-default map-default">
          <div class="panel-heading map-heading">
            <a class="panel-toggle" href=""><p><%= clinic.name %></p></a></div>
          </div>
          <p>Adress: <%= clinic.address %></p>
          <p>City: <%= clinic.city %></p>
          <p>Phone: <%= clinic.phone %></p>
          <p>Website: <a href="<% clinic.website %>"></a><%= clinic.website %></p>
          <hr>
          <% end %>
        </div>
      </div>
      <div class="col-xs-8"></div>
      
    </div>
  </div>