<%= include_gon %>
<div id="clinics-border">
  <div id="map-canvas"></div>
    <div class="col-xs-4" id="left">
      <h2 id="clinics-header">Clinic Locations</h2>
      <div class="clinics-scroll">
        <% @clinics.each do |clinic| %>
          <div class="panel-group map-group">
            <div class="panel panel-default map-default">
              <div class="panel-heading map-heading">
                <a class="panel-toggle" href=""><p><%= clinic.name %></p></a>
              </div>
            </div>
            <p>Address: <%= clinic.address %></p>
            <p>City: <%= clinic.city %></p>
            <p>Phone: <%= clinic.phone %></p>
            <p>Website: <a href="<% clinic.website %>"><%= clinic.website %></p></a>
            <hr>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-xs-8"></div>
  </div>
</div>