<div class="modal fade in" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Result</h4>
      </div>
      <div class="modal-body">
        <img src="../images/sample-result.jpg" width="400px" height="400px">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Download</button>
      </div>
    </div>
  </div>
</div>



<div class="user">



<% if @user.results != [] %>
<% count = 0 %>
<div id="result">
  <% Result::DISEASES.each do |disease| %>
  <div class="panel-group result-group" id="accordion">
    <div class="panel panel-default result-default">
      <div class="panel-heading result-heading">
        <a class="panel-toggle result-toggle" data-toggle="collapse" data-parent="#accordion " href="#panel<%= count %>">
          <p>
          <strong><%= disease.upcase %></strong><span class="inner-right"><strong><%= @user.current_diagnosis(disease) %></strong>
            <% if @user.current_diagnosis(disease) == "NEGATIVE" %>
              <i class="fa fa-minus-square fa-lg"></i>
            <% end %>
            <% if @user.current_diagnosis(disease) == "POSITIVE" %>
              <i class="fa fa-plus-square fa-lg"></i>
            <% end %>
           </span>
           </p>
        </a>
      </div>
      <div id="panel<%= count %>" class="panel-collapse collapse result-collapse">
        <div class="panel-body result-body">

        <% if @user.current_diagnosis(disease) == "NOT TESTED" %>
          <a href='/clinics'> Find a clinic to get tested!</a>
        <% else %>  
          <p><span><%= @user.first_name %> <%= @user.last_name %></span><span class="inner-right"> <%= @user.most_recent_check_for(disease).created_at.strftime("%d %b. %Y") %></span></p>
          <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  View test scan
</button>

                <% if @user.current_diagnosis(disease) == "NEGATIVE" %>
              <i class="fa fa-user-md fa-3x"></i> <i style="color: green"class="fa fa-check-square-o fa-3x"></i>
            <% end %>
            


          <p><span class="inner-right"> Conducted by <%= @user.most_recent_check_for(disease).clinic.name %></span><span class="inner-right"></span></p>

        <% end %>
        </div>

      </div>
    </div>
    <% count += 1 %>
  </div>
  <% end %>
</div>
<% end %>


<% if @user.personal_health_number.nil? %>
<div class="container">
  <div class="jumbotron" id="health-number">
    <p>
    </p>
    <div class="form-group">
      <form method="post" action="/user/healthcare" >
        <div class="form-group">
          <label>
            Please enter your healthcare number to continue:
          </label>
          <input type="text" class="form-control" name="personal_health_number" required="required">
          <input type="text" style="display:none;" name="id" value="<%= @user.id %>">
        </div>
        <button type="submit" class="btn pull-right btn-primary center">
        Submit
        </button>
      </form>
    </div>
  </div>
</div>
<% end %>


<% if @user.results == [] %>
<div class="container">
  <div class="jumbotron find-clinic" id="health-number">

    <div>
      <h2>
        Find a clinic
      </h2>
      <p>
      </p>
      <form action="/clinics">
        <button type="submit" class="btn btn-primary">
        Go!
        </button>
      </form>
    </div>
  </div>
</div>
</div>
<% end unless @user.personal_health_number.nil? %>
